// Fuentes
$fuentePrincipal: 'Quicksand', sans-serif;
$fuenteHeadings: 'Quicksand', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

// Colores
$secundario: #FF355A;
$primario: #E2A3B6;
$secundarioHover: #eea4ba;
$terciario: #4C1624;
$negro: #000;
$blanco: #FFFFFF;
$gris: #f5f5f5;
$grisOscuro: #e1e1e1;
$grisOscuro2: #949393;